Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
iw
*.1
recording*
replay
.DS_Store

act3-nominimal/
act3/
final-3actions-1234/
final-3actions-1235/
final-3actions-1236/
pagre10/
runs/3actions-run-1/prev/
runs/3actions-run-1/prev2/
search-pictures/
test/
