random_seed=1234
display_screen=true
sound=false
fragsize=64
# Noauto because we don't want the default ALE record screen
record_screen_dir_noauto=/Users/adria/Programacio/TFG/IW/recordings2
frame_skip=1
repeat_action_probability=0.0

max_sim_steps_per_frame=300000
sim_steps_per_node=5
use_restricted_action_set=true
use_options=false
discount_factor=0.995
normalize_rewards=false
#ignore_duplicates_nodes=false
randomize_successor_novelty=true

iw1_stop_on_first_reward=true
#iw1_reward_horizon=-1
novelty_boolean=false

max_num_episodes=1
max_num_frames=10000000
max_num_frames_per_episode=20000
record_trajectory=true
trajectory_suffix=montezuma_iw.1
rom_file=/Users/adria/Dropbox/TFG/montezuma_revenge_original.bin
